In [1]:
str1 = "수박"
str1 * 2

'수박수박'

In [2]:
str1[0]

'수'

In [3]:
100// 2

50

In [4]:
3//2

1

In [5]:
idx = 1
print("김서방은 " + str(idx) + "에 있다")

김서방은 1에 있다

In [10]:
str(idx)

TypeError: 'str' object is not callable

In [6]:
seoul = ['Jane', 'Kim']

In [7]:
def solution():
    answer = ''
    idx = str(seoul.index('Kim'))
    answer = '김서방은 ' + idx + '에 있다'
    return answer

In [9]:
a = solution()
print(a)

김서방은 1에 있다

In [11]:
list(range(1,4))

[1, 2, 3]

In [12]:
n = 0
for(i in range(1, min(5, 10)+1)):
    n += i
print(n)

SyntaxError: invalid syntax (<ipython-input-12-ac6dcde8aeed>, line 2)

In [17]:
y = 'p'
if y == 'P' or 'p':
    print("p")
else:
    print("none")

p

In [36]:
s = 'yyyyYPpppp'
p_cnt = 0
y_cnt = 0
for i in s:
    if (i == 'p') or (i=='P'):
        p_cnt += 1
    elif (i == 'y' or 'Y':
        y_cnt += 1
print(p_cnt, y_cnt)

10 0

In [37]:
for i in s:
    if (i == 'p') or (i=='P'):
        print('p')
    elif (i == 'y') or (i=='Y'):
        print('y')

y
y
y
y
y
p
p
p
p
p

In [22]:
s[0]

'y'

In [25]:
s[0] == 'y'

True

In [28]:
for i in s:
    print(i == 'y' or 'Y')

True
True
True
True
Y

In [32]:
s.count('y') + s.count('Y')

5

In [38]:
ss = 'ccccc'

In [44]:
ss.count('y') +ss.count('Y') == ss.count('p') + ss.count('P')

True

In [41]:
ss.count('Y')

0

In [42]:
ss.count('p')

0

In [43]:
ss.count('P')

0

In [47]:
ss1 = 'abcABC123%&^%#'
sss = [i for i in ss1 if i in 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ']
sss

['a', 'b', 'c', 'A', 'B', 'C']

In [48]:
arr = [1, 1, 3, 3, 0, 1, 1]

In [49]:
arr

[1, 1, 3, 3, 0, 1, 1]

In [54]:
a = [i for i in arr if i != i+1]
a

TypeError: cannot unpack non-iterable int object

In [63]:
answer = [4,3,2,1]
answer[-1]

1

In [59]:
answer[1:]

[3]

In [68]:
sbs = 'abcdef'
div = 3
sbs[div-1:div]

'c'

In [72]:
x = [[1,2, 3],[2,3,4]]
len(x[0])

3

In [73]:
x = [[1,2, 3],[2,3,4]]
y = [[1,2, 3],[2,3,4]]

[x[i][j] + y[i][j] for i in range(len(x)) for j in range(len(x[0]))]

[2, 4, 6, 4, 6, 8]

In [74]:
[[x[i][j] + y[i][j] for j in range(len(x[0]))] for i in range(len(x))]

[[2, 4, 6], [4, 6, 8]]

In [76]:
-4 % 2 == 0

True

In [79]:
if (-4 % 2 and 'Odd') or 'Even':
    print("True")

True

In [82]:
a = 123

sum([int(i) for i in str(a)])

6

In [85]:
def solution(n):
    return sum([int(i) for i in str(n)])

In [86]:
solution(123)

6

In [1]:
n = 2
m = 5
mx = [i for i in range(1, n+1) if (n % i == 0) for j in range(1, m+1) if (m % j == 0) and (i ==j)]

In [3]:
mx

[1]

In [5]:
k = 1
while True:
    if (max(n,m) * k) % min(n,m) == 0:
        mn = max(n,m) * k
        break;
    k += 1
print(mn)

10

In [7]:
3 ** (1/2)

1.7320508075688772

In [8]:
int(3**(1/2))

1

In [10]:
144 ** (1/2) == int(144 ** (1/2))

True

In [1]:
str(123)

'123'

In [5]:
len(str(123))

3

In [6]:
123[:-1]

TypeError: 'int' object is not subscriptable

In [7]:
def solution(n):
    sum_n = 0
    if n < 10:
        sum_n += n
    n_len = len(str(n))
    a, b = n%10, n//10
    sum_n += b
    solution(a)

In [12]:
def solution(n): # 123
    n_len = len(str(n))-1 # 2
    
    a = n//(10**n_len) # 123//(10**2) = 1
    b = n%(10**n_len) # 123%(10**2) = 23
    
    print(a,b)
    if b == 0:
        return
    solution(b)

In [11]:
sum_n=[]
[sum_n][-1]

[]

In [14]:
solution(1234)

1 234
2 34
3 4
4 0

In [50]:
def solution(n):
    cnt = 0
    num = []
    for i in range(10, n):
        lst = sorted(str(i))
        for j in range(len(lst)-1):
            if lst[j] == lst[j+1]:
                num.append(i)
                cnt += 1
                break
    print(num)
    return n-1-cnt

In [51]:
solution(1001)

[11, 22, 33, 44, 55, 66, 77, 88, 99, 100, 101, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 121, 122, 131, 133, 141, 144, 151, 155, 161, 166, 171, 177, 181, 188, 191, 199, 200, 202, 211, 212, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 232, 233, 242, 244, 252, 255, 262, 266, 272, 277, 282, 288, 292, 299, 300, 303, 311, 313, 322, 323, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 343, 344, 353, 355, 363, 366, 373, 377, 383, 388, 393, 399, 400, 404, 411, 414, 422, 424, 433, 434, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 454, 455, 464, 466, 474, 477, 484, 488, 494, 499, 500, 505, 511, 515, 522, 525, 533, 535, 544, 545, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 565, 566, 575, 577, 585, 588, 595, 599, 600, 606, 611, 616, 622, 626, 633, 636, 644, 646, 655, 656, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 676, 677, 686, 688, 696, 699, 700, 707, 711, 717, 722, 727, 733, 737, 744, 747, 755, 757, 766, 767, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 787, 788, 797, 799, 800, 808, 811, 818, 822, 828, 833, 838, 844, 848, 855, 858, 866, 868, 877, 878, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 898, 899, 900, 909, 911, 919, 922, 929, 933, 939, 944, 949, 955, 959, 966, 969, 977, 979, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000]

738

In [31]:
list(range(1))

[0]

In [52]:
def solution(code):
    lst = [6, 2, 5, 5, 5, 5, 6, 4, 7, 6]
    code_sum = 0
    for i in code:
        for idx, value in enumerate(lst):
            if int(i) == idx:
                code_sum += value
    return code_sum

In [54]:
solution('789')

17

In [55]:
def solution(arr, num):
    total = sum(arr)
    work_day = total//num
    if total%num != 0:
        work_day += 1
    return work_day

In [56]:
solution([10,0,0,4,20], 5)

7

In [57]:
solution([6,4,2,7,1,8], 3)

10

In [58]:
solution([1,1,4,0,7,9], 2)

11

In [7]:
[i-1 for i in [3] if i != 1 and i != 5]

[2]

In [17]:
s= set([1,2,3,4])
s.add(5)
s.remove(2)
s

{1, 3, 4, 5}

In [26]:
s = set()
n=5
for i in range(1,n+1,2):
    s.update([i-1, i+1]) if i != 1 and i != n else(s.update([i+1]) if i == 1 else s.update([i-1]))
list(s)

[2, 4]

In [24]:
list(range(1,6,2))

[1, 3, 5]

In [48]:
## 체육복

def solution(n, lst, rsv):
    # 여벌 체육복 중에서 도난당한 친구 삭제
    for i in lst:
        if i in rsv:
            rsv.pop(rsv.index(i))
            lst.pop(lst.index(i))
    
    len_lst = len(lst)
    len_rsv = len(rsv)
    max_student = n - len_lst
    print(len_lst, len_rsv, max_student)
    print(lst)
    print(rsv)
    
    # reserve로부터 대여 가능한 학생 배열 구하기(중복 제거) [1,3,5] -> [2,4] , [3] -> 2, 4
    s = set()
    for i in range(len_rsv):
        s.update([rsv[i]-1, rsv[i]+1]) if rsv[i] != 1 and rsv[i] != n else(s.add(rsv[i]+1) if rsv[i] == 1 else s.add(rsv[i]-1))
    available = list(s)
    print(available)
    
    #  lost와 reserve의 공통 element를 max_student에 더함
    len_av = len(available)
    if len_lst <= len_av:
        j = 0
        while j < len_lst:
            if lst[j] in available:
                max_student += 1
    else:
        j = 0
        while j < len_av:
            if available[j] in lst:
                
    
    while j < min(len_lst, len_rsv):
        if len_lst <= len_rsv:
            if lst[j] in available:
                max_student += 1
        else:
            if available[j] in lst:
                max_student += 1
        j += 1
        
    return max_student

In [49]:
solution(11, [2,4,5,7,9], [1,3,5,10])

4 3 7
[2, 4, 7, 9]
[1, 3, 10]
[9, 2, 11, 4]

9

In [37]:
lst = [2,4,6]
rsv = [1,3,5,6]
for i in lst:
        if i in rsv:
            rsv.pop(rsv.index(i))
            lst.pop(lst.index(i))
print(rsv, lst)

[1, 3, 5] [2, 4]